*.pyc
*.log
node_modules
coverage/
afr/logs
afr/export_deliverables
afr/cantaloupe/*
afr/staticfiles
afr/media/packages
afr/media/build/
afr/uploadedfiles/*
afr/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
*~
